.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  vertical-align: middle;
  
}

.title{
  font-size: 5vh;
  color: white;
  line-height: 9vh;
  padding-left: 2vw;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  color: white;
  padding-right: 2vw;

}

.bodysection{
  background-color: grey;
  min-height: 90vh;
}

.menuitem{
  padding: 1vh;
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
}

